@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Black+Ops+One&family=Orbitron:wght@400..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html {

}
:root{
    --color: #000;
    --font-size-p: 0.75rem;
    --color-1: #e5c407;
    --red: #cb0f0c;
    --white: #fff;
    --color-3: #07111f;
}
body{
    background: var(--color);
    height: 100dvh;
}
/* hero section */
header{
    position: relative;
    overflow: hidden;
    height: 100vh;
}
header > div:first-of-type{
width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: row;
position: fixed;
top: 0;
border-radius: 0 0 10px 10px;
background: rgba(255, 255, 255, 0.12);
border: 2px solid rgba(255, 255, 255, 0.25);
backdrop-filter: blur(17px);
box-shadow: 7px 0 32px 0 rgba(255, 255, 255, 0.25);
z-index: 1000;
}
header  img{
    width: 10%;
    height: 10%;
    max-width: 60px;
    max-height: 60px;
    border-radius: 10px;
    border: 2px solid ;
    margin: 0;
}
nav{
    padding-right: 20px;
}
nav div{
    display: flex;
    width: auto;
    max-width: 400px;
    justify-content: center;
    gap: 10px;
    padding: 0 10px 0 0;
}
nav button{
    display: none;
}
nav div a {
    font-size: var(--font-size-p);
    text-decoration: none;
    color: var(--red);
    font-family: Orbitron, sans-serif;
}
nav div a:hover{
padding: 5px;
border-radius: 10px;
background: rgba(255, 255, 255, 0.12);
border: 2px solid rgba(255, 255, 255, 0.25);
backdrop-filter: blur(17px);
box-shadow: 7px 0 32px 0 rgba(255, 255, 255, 0.25);
} 
nav div a:last-of-type {
    display: none;
}
/* hero body*/
header .content{
    margin-top: calc(15vh + 20px);
}
header .content *{
    display: block;
}
header .content img{
    width: 50vw;
    max-width: 500px;
    height: 60vh;
    max-height: 550px;
    border-radius: 0 10px 0 10px;
    border: none;
    margin-right: 0;
    position: absolute;
    right: 10%;
    z-index: -1;
    
}
header .content h1{
    font-family: Black Ops One, sans-serif;
    color: var(--red);
    font-size: clamp(4rem, 6vw, 7rem);
}
header .content p:first-of-type{
font-family: Audiowide, sans-serif;
color: var(--color-1);
font-size: 1.2rem;
}
header .content p, h1, img{
    margin-left: 5%;
 }
header .content img{
    position: absolute;
    right: 5%;
    top: calc(250px - 10vh);
 }
header .content p:last-of-type{
    font-family: Orbitron, sans-serif;
    color: var(--white);
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
 }
 header .content a {
    display: inline-block;
        height: auto;
        padding: 10px 20px;
        text-align: center;
        font-size: clamp(0.9rem, 1.7vw, 2rem);
        color: var(--white);
        border-radius: 10px;
        background: #4b068c;
    text-decoration: none;
    color: var(--red);
    font-family: Orbitron, sans-serif;
    margin-left: 10vw;
    margin-top: calc(200px - 10vh);
 }
 header .content a:hover {
border-radius: 10px;
background: rgba(255, 255, 255, 0.12);
border: 2px solid rgba(255, 255, 255, 0.25);
backdrop-filter: blur(17px);
box-shadow: 7px 0 32px 0 rgba(255, 255, 255, 0.25);
 }
 /* main content activities section*/
 main #activities {
    background-color: var(--color-3);
    padding-bottom: 20px;
 }
 #activities {
    padding: 20px 0 20px 10px;
 }
 #activities > h2 {
    font-size: 1.7rem;
    font-family: Orbitron, sans-serif;
    text-align: left;
    margin-bottom: 50px;
    border-bottom: 2px solid var(--color-1);
    color: var(--red);
 }
 #activities > div  {
     display: flex;
     flex-flow: row wrap;
     gap: 20px;
     align-items: center;
     justify-content: center;
     height: auto;
 }
 .activity{
    width: 70vw;
    max-width: 450px;
    height: 80px;
    padding: 10px 10px 20px;
    overflow: hidden;
    border-radius: 10px;
    color: var(--white);
    transition: all 1.5s linear
 }
 .activity:hover {
    height: auto;
    box-shadow: 0 5px 5px var(--color-1);
    transition: all 2s linear
 }
 .activity div h3{
  font-family: Orbitron, sans-serif;
 }
 .activity p{
    margin-top: 20px;
    font-family: Audiowide, sans-serif;
 }
 .activity div{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .activity:nth-child(1){
   background-image: url(background5.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }.activity:nth-child(2){
   background-image: url(background2.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }
 .activity:nth-child(3){
   background-image: url(background3.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }
 .activity:nth-child(4){
   background-image: url(background4.png);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 }
 .activity img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0;
 }
 /* leaderboard section */
 #leaderboard{
    background-color: var(--color);
    padding: 30px 0 0;
 }
 #leaderboard > h2 {
    font-size: clamp(2.2rem, 3.5vw, 3.5rem);
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    color: var(--red);
    font-family: Orbitron, sans-serif;
    border-top: 3px dashed var(--red);
 }
 #leaderboard > p {
    font-family: Audiowide, sans-serif;
    text-align: center;
    font-weight: 600;
    color: var(--re, rgb(102, 76, 196));
    font-size: clamp(1.1rem, 1.5vw, 1.7rem);
    margin-bottom: 20px;
 }
 .table {
    display: flex;
    flex-direction: column;
 }
 .table > div{
    width: 90vw;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
 }
 .table > div:first-of-type {
    padding: 0;
    margin: 0 auto 20px;
 }
 .table a {
    align-self: flex-end;
    margin: 10px 40px 10px 10px;
    text-decoration: none;
    font-family: Black Ops One, sans-serif;
    color: var(--white);
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    border-bottom: 2px solid;
 }
 .table a:hover {
    background: linear-gradient(135deg, var(--red), var(--color-1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border-radius: 10px;
    text-decoration: underline;
    padding: 10px 5px;
    border-bottom: none;
    box-shadow: 0 0 6px 1px var(--white);
 }
 .thead p{
    padding-right: 10px;
    color: var(--white);
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    font-family: Black Ops One, sans-serif;
    border-right: 2px solid var(--color-1);
 }
 .thead div p:last-of-type{
    border: none;
 }
 .thead > div {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 15px
 }
 .tbody p{
    font-size: clamp(1.2rem, 1.5vw, 2rem);
 }
 .tbody > div img {
    width: 70px;
    height: 70px;
    border-radius: 0 10px 10px 0;
    border: none;
 }
 .tbody {
    display: flex;
    align-items: center;
    font-family: Audiowide, sans-serif;
    color: var(--color-1);
    background: #07111f;
    margin: 10px auto;
    padding: 0 10px;
    border-radius: 20px;
 }
 .tbody div {
    height: 100%;
    align-items: center;
    width: 50%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
 }
 /* main rules section */
 #rules {
    background-color: var(--color-3);
       color: var(--white);
       padding-top: 20px;
       padding-bottom: 20px;
 }
 #rules > h2 {
    margin: 0 10px 20px;
    font-family: Black Ops One, sans-serif;
    font-size: clamp(1.5rem, 3vw, 3rem);
 }
 #rules > h2::before{
    content: "🔥";
 }
 #rules > h2::after {
    content: "🔥";
 }
 #rules ul {
    width: 80vw;
    max-width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
 }
 #rules ul li {
    list-style-type: square;
    font-weight: 100;
     color: var(--color-1);
    font-family: Orbitron, sans-serif;
 }
 #rules h3 {
    margin: 5vh 0 10px 5vw;
    font-family: Black Ops One, sans-serif;
 }
 #rules h4 {
    text-align: center;
    font-size: 1.2rem;
    margin: 30px;
 }
 #rules p {
    text-align: center;
 }
#rules h4:first-of-type::before {
 content: "⚠️";
}
#rules h4:nth-of-type(2)::before{
    content: "❌";
}
/* footer section */
footer {
    background-color: #333;
    color: var(--red);
    padding: 20px 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10px;
}
footer > div {
    display: flex;
   flex-direction: column;
    gap: 10px;
   }
footer > div p {
    font-family: Orbitron, sans-serif;
    font-size: clamp(0.8rem, 1.2vw, 1.7rem);
}
footer > p {
   color: var(--white);
   font-size: clamp(0.8rem, 1vw, 1.2rem);
   text-align: center;
}
 /* mobile version */
 @media screen and (max-width: 450px){
     /* menu effects*/
     body {
        background: var(--color);
     }
    nav {
        position: relative;
        padding: 0;
    }
    nav button {
        margin-right: 15px;
        display: block;
        font-size: var(--font-size-p);
        font-family: Orbitron, sans-serif;
        border-radius: 10px;
        border: none;
        padding: 7px 10px;
        color: var(--white);
        background: var(--color);
        box-shadow: 0 0 12px 5px #333;
    }
    nav div{
        width: 0;
        transform: scale(0) translate(0, 0);
        height: 0;
        background: black;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100%;
        right: 0;
        padding: 30px 0 20px;
        border-radius: 10px 0 10px 10px;
        overflow: hidden;
        transition: all 0.3s ease;
    }
    nav div a {
        margin: 10px auto;
    }
    nav:hover div{
        transform: scale(1) translate(0, 0);
        height: auto;
        width: 60vw;
         transition: all 0.3 ease;
         z-index: 99;
         margin: 0;
    }
    nav div a:last-of-type{
        display: block;
        width: 70%;
        height: auto;
        padding: 10px 10px;
        text-align: center;
        font-size: calc(var(--font-size-p) + 10px);
        margin: auto;
        color: var(--white);
        border-radius: 10px;
        background: #4b068c;
    }
    /* content */ 
    header .content{
        margin-top: calc(15vh + 20px);
        position: relative;
        height: calc(100dvh - 100px);
        min-height: 0;
    }
    header .content a{
        display: none;
    }
    header .content p, h1 {
        text-align: center;
    }
    header h1{font-family: Black Ops One, sans-serif;
        font-size: 3.5rem;
        color: var(--red);
    }
    header .content p:last-of-type {
        text-align: center;
        margin-top: 15px;
    }
    header .content img {
        width: 60vw;
        height: 50vh;
        max-width: 300px;
        max-height: 350px;
        position: absolute;
        left: 50%;
        top: 30vh;
        transform: translateX(-50%);
        margin-top: 0;
    }
    /* main activities */ 
    #activities > h2 {
        text-align: center;
        border: none;
    }
    .activity p{
        font-size: 1.2rem;
    }
    /*main leaderboard */
    .table a {
        text-align: center;
    }
    /* main rules */
    #rules ul {
    display: flex;
    flex-direction:column;
    }
}
/* tablet version */
@media screen and (min-width: 500px) and (max-width: 1000px){
    body {
        background-color: var(--color);
    }
 /* content*/
 header .content p, h1, img{
    margin-left: 5%;
 }
 header .content p:first-of-type {
    font-size: 1.5rem;
 }

 header .content img{
    right: 5%;
    top: 250px;
 }
 header .content a {
    display: inline-block;
        height: auto;
        padding: 10px 20px;
        text-align: center;
        font-size: 1.5rem;
        color: var(--white);
        border-radius: 10px;
        background: #4b068c;
    text-decoration: none;
    color: var(--red);
    font-family: Orbitron, sans-serif;
    margin-left: 10vw;
    margin-top: calc(300px - 10vh);
 }
 header .content a:hover {
border-radius: 10px;
background: rgba(255, 255, 255, 0.12);
border: 2px solid rgba(255, 255, 255, 0.25);
backdrop-filter: blur(17px);
box-shadow: 7px 0 32px 0 rgba(255, 255, 255, 0.25);
 }
}